# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle/
build/
gradle-app.setting

# Kotlin
*.kotlin_module
*.kts

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
